.cooking {
  text-decoration: underline;
}

.not-cooking {
  color: #BBB;
}

.not-cooking a {
  color: #BBB;
}

.chef-item, .restaurant-item {
  border: 1px solid black;
  border-radius: 5px;
  width: 250px;
  padding: 4px;
  margin: 5px;
}

.chef-item .title-bar {
  font-size: 1.3em;
}

.chef-item .description {
  padding: 8px;
}

.img-icon {
  max-width: 64px;
  max-height: 64px;
  padding: 5px;
}

.description {
  min-height: 70px;
}
