<h1>{{model.name}}</h1>
<p>This fine establishment is staffed by the following fine chef(s):</p>
<ul>
  {{#each model.chefs as |chef|}}
    <li>{{chef.name}}</li>
  {{/each}}
</ul>
{{#link-to 'restaurants.restaurant.edit' model.id}}<button>Edit</button>{{/link-to}}
