<p>Want to know if your favourite chef is cooking right now? Chef Tracker has your back.</p>

{{#collapsable-component as |isOpen component|}}
  <div {{action 'toggleOpen' target=component}}>
    {{if isOpen 'See less...' 'See more...'}}
  </div>
  {{#if isOpen}}
    <p>Chef Tracker is sponsored by a shadowy cabal of food manufacturers.</p>
    <p>But we assure you, there is no cause for alarm.</p>
  {{/if}}
{{/collapsable-component}}

{{email-status issue="our app" emailAddress="app@chef-tracker.ember"}}

