<h1>Chef Tracker</h1>
<ul>
  {{#each chefs as |chef|}}
    {{#if chef.cookingToday}}
      <li class="cooking">{{chef.name}}</li>
    {{else}}
      <li class="not-cooking">{{chef.name}}</li>
    {{/if}}
  {{/each}}
</ul>
